@using goRent.Class
@model Car

<form class="text-white-50" asp-controller="Home" asp-action="SaveCar">
    <label asp-for="Brand"></label>
    <input class="form-control" asp-for="Brand" />

    <label asp-for="Color"></label>
    <input class="form-control" asp-for="Color" />

    <label asp-for="BringDate"></label>
    <input class="form-control" asp-for="BringDate" />

    <button class="btn btn-primary">RENT</button>
</form>