@{
    ViewData["Title"] = "Cities";
}

    <h1 class="text-center">Some of our favorite Cities</h1>
<section id="Cities" class="cities-table box-shadow ">

    <div class="card-group text-secondary ">
        <div class="card">
            <div class="img-zoom">
                <img src="~/css/Image/Sofia1.jpg" class="card-img-top" alt="Sofia">
            </div>
            <div class="card-body">
                <h5 class="card-title"><strong>SOFIA</strong></h5>
                <p class="card-text ">Sofia, one of the oldest cities in Europe, is the capital and the largest city in Bulgaria. It is located in the western part of Bulgaria, in the very center of the Balkans, in a valley at the foot of Vitosha mountain.We have to more then 30,000 clients</p>
                <a asp-area="" asp-controller="Home" asp-action="Contact">Contact To Sofia</a>
            </div>
        </div>
        <div class="card">
            <div class="img-zoom">
                <img src="~/css/Image/Dubai.jpg" class="card-img-top" alt="Dubai" />
            </div>
            <div class="card-body">
                <h5 class="card-title"><strong>Dubai</strong></h5>
                <p class="card-text">Dubai, also spelled Dubayy, city and capital of the emirate of Dubai, one of the wealthiest of the seven emirates that constitute the federation of the United Arab Emirates, which was created in 1971 following independence from Great Britain.We have to more then 80,000 clients</p>
                <a asp-area="" asp-controller="Home" asp-action="Contact">Contact To Dubai</a>
            </div>
        </div>
        <div class="card">
            <div class="img-zoom">
                <img src="~/css/Image/Tokyo1.jpg" class="card-img-top" alt="Tokyo">
            </div>
            <div class="card-body ">
                <h5 class="card-title"><strong>Tokyo</strong></h5>
                <p class="card-text">Tokyo, formerly (until 1868) Edo, city and capital of Tokyo to (metropolis) and of Japan. It is located at the head of Tokyo Bay on the Pacific coast of central Honshu. It is the focus of the vast metropolitan area often called Greater Tokyo, the largest urban and industrial agglomeration in Japan. We have to more then 20,000 clients</p>
                <a asp-area="" asp-controller="Home" asp-action="Contact">Contact To Tokyo</a>
            </div>
        </div>
    </div>
</section>