@{
    ViewData["Title"] = "Privacy";
}
<h1>@ViewData["Title"]</h1>

<p class="text-secondary"><strong>Our founders had the simple idea of wanting to make renting cars much better. And we’ve flourished because our customers love how we work.

We started in 2004 as TravelJigsaw. Four years later, we were making 1000 bookings a day. In 2010, we joined the Priceline Group and rebranded as RentGermanCar.com .

Fast forward to today and we’re making 8 million bookings a year (and counting) in over 60,000 locations across 160 countries.

Our amazing growth relies on our fantastic, diverse team. Based in Manchester, our 1,200 colleagues hail from 65 nations: we’ve succeeded because we cater to everyone, whatever their gender, nationality, language or culture. Check out our Gender Pay Gap report

We’re proud to be part of the leading family of online travel brands in the world</strong></p>